@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .image {
    background-image: url('./assets/images/banner-palmeiras.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
  }

  .image-mobile {
    background-image: url('./assets/images/banner-palmeiras-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
  }
}
